body {
    font-size: 17px ;
    font-family: Lato, arial, sans-serif;
    font-weight: 100;
    background-color: #ffffff;
    margin: 0;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }



.header_wrapper {
    background-color: rgba(255,255,255,.9);
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    color: #333333;
    border-bottom: 1px solid #dddddd;
    z-index: 9;
}

.header {
    width: 990px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.brand{
    font-size: 2em;
    font-weight: 900;
    position: relative;
    float: left;
    width: 50%;
    text-align: left;
    margin-top: 3px;
}

.tagline{
    font-size: 1.5em;
    font-weight: 400;
    position: relative;
    float: left;
    width: 50%;
    text-align: right;
    margin-top: 12px;
}

.container {
    margin: 75px auto 0 auto;
    width: 990px;
    position: relative;
}

.topic {
    position: relative;
    float: left;
    width: 300px;
    min-height: 300px;
    margin: 0 15px 30px 15px;
}

.media_block {
    height: 150px;
    width: 100%;
    position: relative;
    float: left;
}

.media_image {
    width: 300px;
    height: 150px;
}

.copy_block {
    min-height: 150px;
    width: 100%;
    position: relative;
    float: left;
}

.topic_title {
    position: relative;
    float: left;
    width: 100%;
    margin: 2px 0 2px 0;
    font-size: 2em;
    font-weight:900;
    color: #333333;
}

.topic_source {
    position: relative;
    float: left;
    width: 100%;
    margin: 2px 0 2px 0;
    font-size: .6em;
    font-weight: normal;
    color: #999999;
}

.topic_summary {
    position: relative;
    float: left;
    width: 100%;
    margin: 2px 0 2px 0;
    font-size: 1em;
    font-weight: 400;
    color: #333333;
}

.topic_related {
    position: relative;
    float: left;
    width: 100%;
    margin: 2px 0 2px 0;
    font-size: .7em;
    font-weight: normal;
    color: #666666;
}


@media screen and (max-width: 600px) {

}

@media screen and (max-width: 990px) {
    .container,.header{
        width: 100%;
    }
}
