                    <% $.each ( this.response.stories, function (idx, story ) { %>


                    <div class="item">
                            <div class="itemLeft">
                                <img src="" class="itemLeft">
                            </div> 
                            <div class="itemRight">
                                <h3>News <%= idx+1 %></h3>
                                <p>
                                    <%= story.summary %>                      
                                </p> 
                            </div>    
                    </div> 
                                <% }); %>